<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<br>
<h5>Owned Pages</h5>
<ul class='list-group list-group-flush'>
    <% @pages.each do |page| %>
        <li class><%= link_to page.name, show_page_path(page) %></li>
    <% end %>
</ul>
<br>
<h5>Created Content</h5>
<ul class='list-group list-group-flush'>
    <% @blocks.each do |block| %>
        <li><%= link_to block.name, show_block_path(block) %></li>
    <% end %>
</ul>
<br>
<% if (current_user==@user) %>
<p><%= link_to 'Edit Info', edit_user_path(@user), :class =>'text-danger' %></p>
<% end %>

