<!DOCTYPE html>
<html>
<head>
<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
<script>
tinymce.init({
  selector: '#mytextarea',
  plugins:"textcolor lists",
  height: 300,
  toolbar: 'bold italic underline forecolor backcolor  bullist numlist alignleft aligncenter alignright alignjustify',
  browser_spellcheck: true
});
</script>
</head>

<body>
<h1>Edit <%= @block.name %></h1>
<p class='text-warning'><em>if full editor does not appear below, please reload page</em></p>
<form action='' method='post'>
<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
<input type = 'hidden' name ="block[user_id]" value ='<%= current_user.id %>'>
Title: <input type = 'text' name ="block[name]" value='<%= @block.name %>'>
Description: <input type = 'text' name ="block[description]" value='<%= @block.description %>'>
Type of Content <select name="block[kind]">
<option value='Recipe'>Recipe</option>
<option value='Note'>Note</option>
<option value='Timeline'>Timeline</option>
</select>
<label>Include this content on pages: </label>
<select multiple name='block[page_id][]'>
  <% @pages.each do |page| %>
    <% if @selectedpages.include? page %>
    <option selected value='<%= page.id %>'><%= page.name %></option>
    <% else %>
    <option value='<%= page.id %>'><%= page.name %></option>
    <% end %>
  <% end %>
</select>
<textarea id="mytextarea" name='block[body]'><%= sanitize @block.body %></textarea>
<input type ='submit' value="Update">
</form>
</body>
</html>
