<h1><%= @block.name %> (<%= @block.kind %>)</h1>
<p>Description: <%= @block.description %><p>
<%= (sanitize @block.body) %>
<% if (@comments!= []) %>
<h5>Comments: </h5>
<% @comments.each do |comment| %>
    <div>
    <p><%= (comment.created_at).strftime("%m/%d/%Y") %>: <%= comment.user.name %> said</p>
    <p><%= comment.body %></p>
    <% if (comment.user==current_user) %>
    <form method='post' action:''>
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type = 'hidden' name'_method' value='DELETE'>
    <input type = 'hidden' name ='comment[id]' value='<%= comment.id %>'>
    <input type='submit' value='Delete'>
    <% end %>
        </div>
    <% end %>
<% end %>
<form action='/comments/create' method='post'>
<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
<input type = 'hidden' name ="comment[user_id]" value ='<%= current_user.id %>'>
<input type = 'hidden' name ="comment[block_id]" value ='<%= @block.id %>'>
<textarea name="comment[body]"></textarea>
<input type ='submit' value="Comment">
</form>

<% if (@block.user==current_user) %>
<h3><%= link_to 'Edit Content', edit_block_path(@block) %></h3>
<h3><%= link_to 'Delete Content', confirm_delete_block_path(@block) %></h3>
<% end %>
