<h1><%= @page.name %></h1>
<h3><em><%= @page.description %></em></h3>
<% @blocks.each do |block| %>
    <div class='row'>
        <div class='col-9'>
            <div class='card border-primary'>
                <h2 class='card-header'><%= link_to block.name, show_block_path(block) %></h2>
                <h5 class='card-header'><%= block.kind %>, written by <%= block.user.name %></h5>
                <div class='card-body'><%= (sanitize block.body) %></div>
            </div>
        </div>
        <div class='col-3'>
            <% block.comments.each do |comment| %>
                <div class='card border-primary mb-3'>
                    <p class='text-muted card-header'><%= (comment.created_at).strftime("%m/%d/%Y") %>: <%= comment.user.name %> said</p>
                    <p class='card-body'><%= comment.body %></p>
                    <% if (comment.user==current_user) %>
                        <form method='post' action:'/wiki/comments/delete/'>
                            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
                            <input type = 'hidden' name'_method' value='DELETE'>
                            <input type = 'hidden' name ='comment[id]' value='<%= comment.id %>'>
                            <input class='btn btn-danger' type='submit' value='Delete'>
                        </form>
                    <% end %>
                </div>
            <% end %>
            <form action="<%= create_comment_path %>" method='post'>
                <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
                <input type = 'hidden' name ="comment[user_id]" value ='<%= current_user.id %>'>
                <input type = 'hidden' name ="comment[block_id]" value ='<%= block.id %>'>
                <textarea rows='4' cols='42' name="comment[body]"></textarea>
                <br>
                <input type ='submit' class = 'btn btn-primary' value="Comment">
            </form>

        </div>
    </div>
<% end %>

<div class='card-footer'><%= link_to 'Add content to this page', new_block_path(@page), :class =>'text-info' %></div>
<% if (@page.user==current_user) %>
    <p class='card-footer'><%= link_to 'Edit Page', edit_page_path(@page), :class =>'text-danger' %>  |
    <%= link_to 'Delete Page', confirm_delete_page_path(@page), :class =>'text-danger' %></p>
<% end %>

